// ===== Font Stack ===== //

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');

@font-face {
    font-family: 'Road Rage';
    src: url('/dist/assets/fonts/RoadRage.woff2') format('woff2'),
        url('/dist/assets/fonts/RoadRage.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// ===== Variables ===== //

// Typography
$font-family: (
    "brand": 'Road Rage',
    "primary": 'Open Sans',
    "secondary": 'Oswald'
);
$font-weight: (
    "normal": 400,
    "bold": 500,
    "extra": 600
);
$font-size: clamp(.8rem, 2.5vw, 1.5rem);
$line-height: 1.4;
$ltr-spc: .1em;
$txt-shadow: 6px 0 7px #000;

// Colors
$clr-accent: #ff956e;
$clr-brand: #f70101;
$clr-primary: #0D0D0D;
$clr-transparent: hsla(0, 0%, 0%, .9);
$clr-txt: #ffffff;
$clr-txt2: #000000;
$opacity: .8;


// Transition
$transition: all .2s ease-in-out;

// Sizing
$border-radius: 5px;
$borders: 2px solid $clr-accent;

// ===== Mixins ===== //

// Nav Bars
@mixin bar {
    background: $clr-brand;
    border-radius: $border-radius;
    height: 3px;
    position: absolute;
    transition: $transition;
    width: 32px;
}

// Buttons
@mixin mainBtn {
    border-radius: $border-radius;
    border: 2px solid $clr-accent;
    color: $clr-accent;
    cursor: pointer;
    display: inline-block;
    font-family: 'Oswald';
    font-weight: 600;
}

@mixin primaryBtn {
    min-width: 200px;
    padding: .5em 1.5em;
}

@mixin hoverBtn {
    letter-spacing: $ltr-spc;
    transition: $transition;
}

@mixin secondaryBtn {
    margin-top: 4%;
    min-width: 100px;
    padding: .2em .6em;
}

@mixin inputField {
    border-radius: $border-radius;
    border: 2px solid $clr-brand;
    color: $clr-txt2;
    min-width: 90%;
}

$smaller-btn: 70px;

// ===== Normalize ===== //

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input,
label,
textarea,
button,
select {
    color: $clr-txt;
    font-family: inherit;
    font-size: 100%;
}

img {
    display: block;
    height: auto;
    width: 100%;
}

// ===== Utilities ===== //

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

.offscreen {
    margin-left: -10000px;
}

.smaller-btn {
    width: $smaller-btn;
}