.contact {
    display: flex;
    flex-flow: row wrap;
    margin-block: 4%;

    &__contact__form {
        padding: .2em;
    }
}

.fieldset {
    border: none;
    display: grid;
    grid-gap: .3em;
    place-content: center;

    &__input, select{
        @include inputField;
    }
}

address {
    h3 {
        margin-bottom: 10%;
    }
}