.footer {
    background-color: $clr-brand;
    padding: .5em .5em;

    &__wrapper {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        address {
            font-size: .7rem;

            .social-ico {
                cursor: pointer;
                font-size: 1.3rem;
                line-height: 1.3;

                &:hover {
                    transition: $transition;
                    color: $clr-accent;
                }
            }
        }

        iframe {
            height: 120px;
            width: 40%;
        }
    }

    .legal-note {
        font-size: .7rem;
        margin-top: .7em;
        text-align: center;

        a {
            color: $clr-primary;
            font-weight: bolder;

            &:hover {
                color: $clr-accent;
            }
        }
    }
}