@function fontFamily($family-name) {
    @return map-get($font-family, $family-name)
};

@function fontWeight($weight-name) {
    @return map-get($font-weight, $weight-name)
};

.main__section {
    align-items: center;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    z-index: 5;
    // background: 
    // linear-gradient(
    //     to bottom,
    //     rgba(0, 0, 0, .9),
    //     rgba(250, 0, 0, 0.6),
    //     rgba(0, 0, 0, .9)
    // ),
    // url(../dist/hero.jpg);
}

.section__h2 {
    color: $clr-brand;
    font-family: fontFamily(brand);
    font-size: 1.5rem;
    font-weight: fontWeight(normal);
    text-shadow: $txt-shadow;
}

.section__btn {
    margin-top: 5%;
    @include mainBtn;
    @include primaryBtn;

    &:hover {
        @include hoverBtn;
    }
}