@function fontFamily($family-name) {
    @return map-get($font-family, $family-name)
};

@function fontWeight($weight-name) {
    @return map-get($font-weight, $weight-name)
};

.main__section {
    height: 100vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background: 
        linear-gradient(
            to bottom,
            rgba(0, 0, 0, .9),
            rgba(250, 0, 0, 0.6),
            rgba(0, 0, 0, .9)
    ),
    url(/dist/assets/images/hero-img.jpg);
    background-size: cover;
    z-index: 5;
}

.section__h2 {
    color: $clr-brand;
    font-size: 1.5rem;
    font-family: fontFamily(brand);
    font-weight: fontWeight(normal);
    text-shadow: $txt-shadow;
}

.section__btn {
    margin-top: 5%;
    @include mainBtn;
    @include primaryBtn;

    &:hover {
        @include hoverBtn;
    }
}