.social__icons {
    display: flex;
    flex-flow: column nowrap;
    gap: .2em;
    margin-left: -60px;
    margin-top: -150px;
    position: sticky;
    top: 20px;
    width: 30px;

    .social-ico {
        color: $clr-brand;
        font-size: 1.4rem;

        &:hover {
            color: $clr-accent;
            transform: translateX(3px);
            transition: $transition;
        }
    }
}