.header__menu {
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: .5em;
    top: .5rem;
    width: 32px;
    z-index: 1;
}

.menu__burger {
    @include bar;
    right: 0;
    top: 1em;

    &::before {
        content: '';
        @include bar;
        top: -8px;
    }

    &::after {
        content: '';
        @include bar;
        top: -16px;
    }

    &.open {
        transform: rotate(360deg);
        background: transparent;

        &::before {
            transform: translateY(-1px) rotate(45deg);
        }

        &::after {
            transform: translateY(6px) rotate(-45deg);
        }
    }
}

.nav {
    visibility: hidden;

    &.open {
        visibility: visible;
    }

    &__ul {
        align-items: center;
        background: $clr-transparent;
        border-radius: 5px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        overflow: hidden;
        padding-right: 1em;
        transform: translateY(-100%);
        transition: $transition;

        &.open {
            transform: translateY(0);
        }
    }
}

.li__a {
    display: block;
    font-size: 1.5rem;
    padding-block: .5em;
    text-align: center;
    width: 80vw;

    &:hover {
        background-color: $clr-brand;
        color: $clr-primary;
        transition: $transition;
    }
}